<div class="content">
  <%- partial('header') %>

  <section class="details">
    <nav>
      <p><span>Location Location Location</span><img src="/images/tiles/location.gif" alt="rsvp"></p>
    </nav>

    <article>
      <div class="map lead-image">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=berkley+church+toronto&amp;aq=&amp;sll=43.665264,-79.375706&amp;sspn=0.032038,0.073214&amp;vpsrc=0&amp;ie=UTF8&amp;hq=berkley+church&amp;hnear=Toronto,+Toronto+Division,+Ontario,+Canada&amp;ll=43.665264,-79.375706&amp;spn=0.006295,0.039635&amp;output=embed"></iframe>
      </div>

      <h1>Heading</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas feugiat venenatis. Pellentesque eget nibh turpis. Etiam sed massa 
         in ante fringilla aliquam. Nunc erat risus, sollicitudin non vehicula id, imperdiet sed ligula. Donec rutrum blandit mollis. Etiam 
         commodo quam luctus urna ultrices aliquam. Sed mollis bibendum turpis, eu dapibus massa suscipit id.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas feugiat venenatis.</p>

      <h2>Sub-Heading</h2>

      <ul>
        <li>List item 1</li>
        <li>List item 2</li>
        <li>List item 3</li>
      </ul>

    </article>
  </section>

  <%- partial('navigation', { class: "minimized" }) %>
</div>
