    <div class="content">
      <header>
        <p class="date">28/10/2011</p>
        <h1>My Whole Heart for My Whole Life</h1>
      </header>

      <section>
        <img src="/images/banner.jpg">
      </section>

      <ul>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="#"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
      </ul>
    </div>
