    <div class="content">
      <header>
        <p class="date">28/10/2011</p>
        <h1>My Whole Heart for My Whole Life</h1>
      </header>

      <section>
        <img src="/images/banner.jpg">
      </section>

      <ul>
        <li><a href="/details"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/registry.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/the_party.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/wedding_party.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/what_to_wear.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/registry.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/the_party.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/wedding_party.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/what_to_wear.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
        <li><a href="/details"><img src="/images/tiles/registry.gif" alt="rsvp"></a></li>
      </ul>
    </div>
