    <div class="content">
      <header>
        <p class="date">28/10/2011</p>
        <h1>My Whole Heart for My Whole Life</h1>
      </header>

      <section>
        <img src="/images/banner.jpg">
      </section>

      <ul>
        <li><a href="#">rsvp</a></li>
        <li><a href="#">location location location</a></li>
        <li><a href="#">what to wear</a></li>
        <li><a href="#">meet the wedding party</a></li>
        <li><a href="#">our registry</a></li>
      </ul>
    </div>
