<div class="content">
  <%- partial('header') %>

  <section>
    <img id="banner" src="/images/banner_first.jpg">
    <img id="monogram" src="/images/monogram.png">
  </section>

  <%- partial('navigation') %>
</div>
