<!DOCTYPE HTML>
<html>
  <head>
    <title>My Whole Heart for My Whole Life</title>
    <meta name="description" content="The wedding website of Crystal Rickard and Cameron Westland">
    <meta name="author" content="Cameron Westland and Crystal Rickard">
    <meta name="copyright" content="Cameron Westland and Crystal Rickard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

  </head>

  <body>

    <header>
      <p class="date">28/10/2011</p>
      <h1>My Whole Heart for My Whole Life</h1>
    </header>

    <section>
      <img src="/images/banner.png">
    </section>

    <ul>
      <li><a href="#">rsvp</a></li>
      <li><a href="#">location location location</a></li>
      <li><a href="#">what to wear</a></li>
      <li><a href="#">meet the wedding party</a></li>
      <li><a href="#">our registry</a></li>
    </ul>

  </body>

</html>
