<%
  if (!locals.hasOwnProperty('class')) {
    class = "";
  }
%>

<ul id="navigation" class="<%= class %>">
  <li><a href="/rsvp/new"><img src="/images/tiles/rsvp.gif" alt="rsvp"></a></li>
  <li><a href="/the_love_story"><img src="/images/tiles/love_story.gif" alt="the love story"></a></li>
  <li><a href="/location"><img src="/images/tiles/location.gif" alt="location"></a></li>
  <li><a href="/the_party"><img src="/images/tiles/the_party.gif" alt="the party"></a></li>
  <li><a href="/meet_our_wedding_party"><img src="/images/tiles/wedding_party.gif" alt="the wedding party"></a></li>
  <li><a href="/itinerary"><img src="/images/tiles/itinerary.gif" alt="itinerary"></a></li>
  <li><a href="/meet_our_guests"><img src="/images/tiles/guests.gif" alt="guests"></a></li>
  <li><a href="/what_to_wear"><img src="/images/tiles/what_to_wear.gif" alt="what to wear"></a></li>
  <li><a href="/where_to_eat_on_friday"><img src="/images/tiles/where_to_eat.gif" alt="where to eat"></a></li>
  <li><a href="/local_accommodations"><img src="/images/tiles/accommodations.gif" alt="accommodations"></a></li>
  <li><a href="/saturday_brunch"><img src="/images/tiles/saturday_brunch.gif" alt="saturday brunch"></a></li>
  <li><a href="/what_to_do_on_saturday"><img src="/images/tiles/saturday.gif" alt="saturday"></a></li>
</ul>

<img id="monogram_small" src="/images/monogram_small.gif">
