<%
  if (this["class"]) class = ""
%>

<ul class="<%= class %>">
  <li><a href="/details"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/registry.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/the_party.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/wedding_party.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/what_to_wear.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/registry.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/the_party.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/wedding_party.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/what_to_wear.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/location.gif" alt="rsvp"></a></li>
  <li><a href="/details"><img src="/images/tiles/registry.gif" alt="rsvp"></a></li>
</ul>
