@font-face {
  font-family: 'BodoniBERegular';
  src: url('/fonts/bodoni_be_regular_small_caps__oldstyle_figures-webfont.eot');
  src: url('/fonts/bodoni_be_regular_small_caps__oldstyle_figures-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/bodoni_be_regular_small_caps__oldstyle_figures-webfont.woff') format('woff'), url('/fonts/bodoni_be_regular_small_caps__oldstyle_figures-webfont.ttf') format('truetype'), url('/fonts/bodoni_be_regular_small_caps__oldstyle_figures-webfont.svg#BodoniBERegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EngraversGothicBTRegular';
  src: url('/fonts/engravers_gothic_bold-webfont.eot');
  src: url('/fonts/engravers_gothic_bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/engravers_gothic_bold-webfont.woff') format('woff'), url('/fonts/engravers_gothic_bold-webfont.ttf') format('truetype'), url('/fonts/engravers_gothic_bold-webfont.svg#EngraversGothicBTRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 100%;
  background: #eae6df;
  font-family: 'EngraversGothicBTRegular', Arial, 'sans-serif';
}
.content {
  width: 80%;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
header {
  margin-top: 50px;
  margin-bottom: 25px;
}
header h1 {
  font-size: 1.375em;
  /* 22 px / 16 px */

  letter-spacing: 0.0625em;
  /* 1 px / 16 px */

  font-family: 'EngraversGothicBTRegular', Arial, 'sans-serif';
  text-transform: uppercase;
  text-align: center;
}
header p.date {
  font-size: 2.25em;
  /* 36 px / 16 px */

  font-family: 'BodoniBERegular', Georgia, serif;
  color: #b20838;
  text-align: center;
  margin-bottom: 5px;
}
section, .details article .lead-image {
  background: #b20838;
  position: relative;
  margin-top: 15px;
}
section img, .details article img {
  max-width: 98%;
  margin: 1%;
  vertical-align: middle;
}
section #monogram {
  position: absolute;
  bottom: 3%;
  width: 30%;
  right: 3%;
}
ul {
  clear: both;
  overflow: hidden;
  margin-bottom: 50px;
}
ul li {
  display: block;
  float: left;
  margin-top: 2%;
  width: 15%;
  margin-right: 2%;
}
/* every sixth has no right margin */
ul li:nth-child(6n+6) {
  margin-right: 0;
}
ul li a {
  display: block;
  background: #eae6df;
  /*border:solid 5px @themeColour;*/

}
ul li img {
  width: 100%;
}
/* content details */
section.details {
  background: none;
  overflow: hidden;
}
section.details header {
  margin-top: 0;
  overflow: hidden;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
}
section.details header .date {
  text-align: left;
  float: left;
  font-size: 1em;
  line-height: 1em;
  margin-right: 0.5em;
}
section.details header h1 {
  font-weight: normal;
  text-align: left;
  float: left;
  font-size: 1em;
  line-height: 1em;
}
ul.minimized {
  margin-left: 17.01388889%;
}
.map {
  max-width: 100%;
}
.map iframe {
  width: 98%;
  height: 18.75em;
  /* 300 px / 16 px */

  margin: 1%;
}
.lead-image {
  margin-bottom: 1.5em;
}
article {
  font-family: 'EngraversGothicBTRegular', Arial, 'sans-serif';
}
article h1 {
  font-size: 1.5em;
  /* 24 px / 16 px */

  margin-bottom: 1em;
  color: #b20838;
}
article h1 a:link, article h1 a:visited {
  color: rgba(178, 8, 56, 0.5);
  text-decoration: none;
  border-bottom: solid 1px rgba(178, 8, 56, 0.09999999999999998);
}
article h1 a:hover {
  color: #b20838;
  border-color: #b20838;
}
article h2 {
  color: #b20838;
  font-size: 1.25em;
  /* 20 px / 16 px */

  margin-bottom: 1.2em;
}
article p {
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
article ul {
  margin-bottom: 1.5em;
}
article ul li {
  float: none;
  list-style-type: disc;
  line-height: 1.5em;
  width: auto;
  margin: auto;
}
article ul li:before {
  content: ">";
  margin-right: 0.5em;
}
/* responsiveness */
@media screen and (max-width: 1050px) {
  
}
@media screen and (max-width: 980px) {
  ul li, ul li:nth-child(6n+6) {
    /* 4 columns */
  
    width: 23.5%;
    margin-right: 2%;
  }
  /* every fourth has no right margin */
  ul li:nth-child(4n+4) {
    margin-right: 0;
  }
}
@media screen and (max-width: 800px) {
  
}
@media screen and (max-width: 500px) {
  header {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  header h1 {
    font-size: 1em;
  }
  ul li, ul li:nth-child(6n+6), ul li:nth-child(4n+4) {
    /* 3 columns */
  
    width: 32%;
    margin-right: 2%;
  }
  /* every third has no right margin */
  ul li:nth-child(3n+3) {
    margin-right: 0;
  }
  /* don't display the header title on mobile */
  .content {
    width: 95%;
  }
  .content section.details article {
    width: 100%;
  }
  .content ul.minimized {
    margin-left: 0;
  }
}
input[type="text"], input[type="password"], textarea {
  color: #676667;
  font-size: 14px;
  height: 18px;
  line-height: 14px;
  outline: none;
  padding: 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 3px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0 3px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 3px inset;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #D9D9D9;
  height: 34px;
  width: 100%;
}
form {
  margin-bottom: 20px;
}
form ul li {
  list-style-type: none;
  float: left;
  margin-right: 1em;
}
form ul li:before {
  content: "";
  margin-right: 0;
}
textarea {
  height: 135px;
}
button {
  text-shadow: rgba(0, 0, 0, 0.24) 0 1px 1px;
  border: 1px solid #597211;
  color: white;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #90be0a), color-stop(100%, #7ba209));
  background: -webkit-linear-gradient(#90be0a, #7ba209);
  background: -moz-linear-gradient(#90be0a, #7ba209);
  background: -o-linear-gradient(#90be0a, #7ba209);
  background: linear-gradient(#90be0a, #7ba209);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0 9px;
  zoom: 1;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.5em;
}
button:hover {
  opacity: 0.75;
}
button:active {
  opacity: 1;
}
ul.error {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  background: #b20838;
  padding: 6px;
  color: #eae6df;
}
#monogram_small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  opacity: 0.4;
}
