      body {
        font-size:100%;
        background:#eae6df;
      }

      header {
        width:80%;
        max-width:60em;
        margin-left:auto;
        margin-right:auto;

        margin-top:50px;
        margin-bottom:25px;
      }

      header h1 {
        font-size: 1.375em; /* 24 px / 16 px */
        text-transform:uppercase;

        text-align:center;
      }

      header p.date {
        font-size: 2.25em; /* 36 px / 16 px */

        text-align:center;

        margin-bottom:15px;
      }

      section {
        margin-left:auto;
        margin-right:auto;
        width:80%;

        max-width:60em;
        background:#b20838;
      }

      section img {
        max-width:100%;
      }

      ul {
        overflow:visible;
        margin-left:auto;
        margin-right:auto;
        max-width:60em;
        width:80%;
      }

      ul li {
        display:block;
        float:left;
        width:19%;
        margin-right:1%;
        margin-top:20px;
      }

      ul li a {
        display:block;
        background:#eae6df;
        border:solid 5px #b20838;
        height:75px;
      }

      ul li:last-child {
        margin-right:0;
      }

      /* responsiveness */
      @media screen and (max-width: 1050px) {
      }

      @media screen and (max-width: 980px) {
      }

      @media screen and (max-width: 800px) {
      }

      @media screen and (max-width: 500px) {
        body {
          font-size:14px;
        }

        header {
          margin-top:25px;
          margin-bottom:15px;
        }

        header p.date {
          font-size:1.2857142857em;
          margin-bottom:5px;
        }

        header h1 {
          font-size:0.8571428571em;
        }

        ul li {
          min-width:123px;
          margin-right:10px;
          margin-top:10px;
        }

        ul li:nth-child(even) {
          margin-right:0;
        }
      }
