<div class="content">
<%- partial('header') %>

  <section class="details">
    <nav>
      <p><span>RSVP</span><img src="/images/tiles/location.gif" alt="RSVP"></p>
    </nav>

    <article>

      <%- messages() %>

      <form action="/rsvp" method="POST">
        <p>
          <label for="name">Name: </label>
          <input type="text" name="rsvp[name]" id="name">
        </p>

        <p>Are you attending?</p>
        <ul>
          <li><input type="radio" name="rsvp[attending]" id="attendingYes"> <label for="attendingYes">Accepts</label></li>
          <li><input type="radio" name="rsvp[attending]" id="attendingNo"> <label for="attendingNo">Regrets</label></li>
        </ul>

        <p>Describe how you know Cameron and/or Crystal:</p>

        <textarea name="rsvp[how_i_know_them]" rows="3"></textarea>

        <input type="submit" value="RSVP">
      </form>
    </article>
  </section>
</div>
