<p>If you're having problems submitting the RSVP contact Cameron directly at <a href="mailto:camwest@gmail.com">camwest@gmail.com</a>.</p>

<form action="/rsvp" method="POST">
  <%- messages() %>

  <ul>
    <li><input type="radio" name="rsvp[attending]" value="accepts" id="attendingYes"> <label for="attendingYes">Attending</label></li>
    <li><input type="radio" name="rsvp[attending]" value="regrets" id="attendingNo"> <label for="attendingNo">Not Attending</label></li>
  </ul>

  <p>
    <input type="text" name="rsvp[name]" id="name" placeholder="Name:">
  </p>

  <p>
    <textarea name="rsvp[how_i_know_them]" rows="15" placeholder="Describe how you know Cameron and/or Crystal, and please share your favourite memory (in 100 words or less)."></textarea>
  </p>

  <button type="submit">RSVP</button>
</form>

