<div class="content">
<%- partial('header') %>

  <section class="details">
    <nav>
      <p><span>RSVP</span><img src="/images/tiles/location.gif" alt="RSVP"></p>
    </nav>

    <article>
      <p>Thank you for responding</p>
    </article>
  </section>
</div>

