
<h2>7pm Arrival & Ceremony</h2>
<p>Cameron and Crystal have the honour of being wed by the Groom’s mother; Carmen Agius. Dear friend Emily-Rose Smegal and sisters Sarah May Agius & Megan Westland will share readings.</p>
<h2>8pm Reception</h2>
<p>Master of Ceremonies; Liza Mattimore</p>

<div class="lead-image">
  <img src="/images/itinerary.jpg">
</div>
