<div class="lead-image">
  <img src="/images/local_accommodations.jpg">
</div>

<h2>Fairmont Royal York</h2>
<p>Best Man, Adam Westland has set up a group rate of $159. To reserve a room, please call 
1-866-540-4489 by October 7th and request the booking "Adam Westland Group", reference code "ADAM1011_001".</p>

<h2>Hilton Garden Inn</h2>

<h2>The Grand</h2>

<div class="map lead-image">
  <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps/ms?msa=0&amp;ie=UTF8&amp;ll=43.651426,-79.363721&amp;spn=0.011545,0.015659&amp;vpsrc=6&amp;msid=201172501677075211549.0004ac38341853ed0036d&amp;z=14&amp;output=embed"></iframe>
</div>



