<p>Join us in the Fieldhouse of the Berkeley Church; an 1871 historical building that has 
now been converted into a heritage events venue.</p>

<p>There is a private parking lot accessable from Berkeley Street, just a 2 minute walk from the venue.</p>

<div class="lead-image center" style="max-width:640px; max-height:485px">
  <img src="/images/location.jpg">
</div>

<div class="map lead-image">
  <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=CQIW7i0RED-kFWIgmgId_fhE-yHED0HR3QppOA&amp;q=315+Queen+Street+East,+&amp;aq=&amp;sll=43.653994,-79.37253&amp;sspn=0.016798,0.034676&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=315+Queen+St+E,+Toronto,+Ontario+M5A+1S7&amp;ll=43.655267,-79.365892&amp;spn=0.008787,0.017338&amp;z=14&amp;output=embed"></iframe>
</div>

