<div class="lead-image">
  <img src="/images/local_accommodations.jpg">
</div>

<h2>Fairmont Royal York</h2>
<p>Please be in contact with Best Man, Adam Westland, should you be interested in 
staying here for a reduced rate of $150. Send your full name and contact info to 
<a href="adam.westland@frhi.com">adam.westland@frhi.com</a></p>

<h2>Hilton Garden Inn</h2>

<h2>The Grand</h2>

<div class="map lead-image">
  <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.ca/maps/ms?msa=0&amp;ie=UTF8&amp;ll=43.651426,-79.363721&amp;spn=0.011545,0.015659&amp;vpsrc=6&amp;msid=201172501677075211549.0004ac38341853ed0036d&amp;z=14&amp;output=embed"></iframe>
</div>



