<h2>Bridesmaids</h2>

<p>There is a private parking lot accessable from Berkeley Street, just a 2 minute 
walk from the venue. There is a private parking lot accessable from Berkeley Street, 
just a 2 minute walk from the venue.</p>

<ul class="tiles five">
  <li>
    <img src="/images/wedding_party/caitlin.jpg">
    <span>Caitlin McCoy, Maid of Honour</span>
  </li>
  <li>
    <img src="/images/wedding_party/cynthia.jpg">
    <span>Cynthia Rea</span>
  </li>
  <li>
    <img src="/images/wedding_party/alicia.jpg">
    <span>Alicia Swan</span>
  </li>
  <li>
    <img src="/images/wedding_party/angela.jpg">
    <span>Angela Arrigo</span>
  </li>
  <li>
    <img src="/images/wedding_party/sara.jpg">
    <span>Sara Szolopiak</span>
  </li>
</ul>

<h2>Groomsmen</h2>

<p>There is a private parking lot accessable from Berkeley Street, just a 2 minute 
walk from the venue. There is a private parking lot accessable from Berkeley Street, 
just a 2 minute walk from the venue.</p>

<ul class="tiles">
  <li>
    <img src="/images/wedding_party/adam.jpg">
    <span>Adam Westland, Best Man</span>
  </li>
  <li>
    <img src="/images/wedding_party/dylan.jpg">
    <span>Dylan Barlow</span>
  </li>
  <li>
    <img src="/images/wedding_party/max.jpg">
    <span>Max Cameron</span>
  </li>
  <li>
    <img src="/images/wedding_party/mike.jpg">
    <span>Mike Rickard</span>
  </li>
</ul>
