<p>The bride and groom would like to introduce a group of very special people in our lives...</p>

<h2>Bridesmaids</h2>

<p>The women in my life have been my rock on the journey thus far. Whether it be the exhilarating 
highs and the challenging lows through life, relationships, school, careers - or now - through the
preparation of my marriage; I am incredibly grateful to call these power-houses my girls! You
represent the pack of women around me who are so strong, loving, supportive & brilliant. I am 
inspired by you, and look forward to being the crazy selves that we have discovered in each other for 
years to come throughout marriage, motherhood, and life as it comes our way.</p>

<ul class="tiles five">
  <li>
    <img src="/images/wedding_party/caitlin.jpg">
    <span>Caitlin McCoy, <em>Maid of Honour</em></span>
  </li>
  <li>
    <img src="/images/wedding_party/cynthia.jpg">
    <span>Cynthia Rea</span>
  </li>
  <li>
    <img src="/images/wedding_party/alicia.jpg">
    <span>Alicia Swan</span>
  </li>
  <li>
    <img src="/images/wedding_party/angela.jpg">
    <span>Angela Arrigo</span>
  </li>
  <li>
    <img src="/images/wedding_party/sara.jpg">
    <span>Sara Szolopiak</span>
  </li>
</ul>

<h2>Groomsmen</h2>

<p>I choose my groomsmen to represent a little bit from my past, my present, and the future. 
These four guys mean a lot to me and are always there when I need them.</p>

<ul class="tiles">
  <li>
    <img src="/images/wedding_party/adam.jpg">
    <span>Adam Westland, <em>Best Man</em></span>
  </li>
  <li>
    <img src="/images/wedding_party/dylan.jpg">
    <span>Dylan Barlow</span>
  </li>
  <li>
    <img src="/images/wedding_party/max.jpg">
    <span>Max Cameron</span>
  </li>
  <li>
    <img src="/images/wedding_party/mike.jpg">
    <span>Mike Rickard</span>
  </li>
</ul>
