<p>The newly hitched couple are planning to enjoy a leisurely Saturday brunch at 
<a href="http://www.thompsonhotels.com/hotels/toronto/thompson-toronto/eat/the-counter">The Counter</a>; 
located in the Thompson Hotel. We have made a reservation at 11am, please let us know by October 
12th if you would like to join us.</p>

<div class="lead-image">
  <img src="/images/saturday_brunch.jpg">
</div>
