<h2>It was love at first sight.</h2>

<p>Cameron and Crystal heard about each other through dear mutual friends Max, Liza, 
Paul & Emily-Rose. It wasn’t until after months of these discussions that they ended up 
in the same place at the same time: a cocktail party on a warm, magical July evening. 
The timing was impeccable, like stars crossing.</p>

<p>Crystal walked into the party and immediately spotted the tall handsome guy in a striped 
shirt, and thought “who’s the tall cute guy!?” Cameron immediately thought, “She’s so beautiful 
and elegant... and loud”.</p>

<p>
  That night, they made eye contact for hours.<br />
  ...they followed each other bashfully, like puppies.<br />
  ...they discovered they were neighbours.<br />
  ...they walked home and talked until 5:30am.<br />
  ...they fell in love.<br />
</p>


<h2>They discovered that they had been looking for each other their whole lives up to that moment.</h2>

<div class="lead-image">
  <img src="/images/the_love_story_1.jpg">
</div>

<p>For the next few months to follow Crystal would grow to admire Cameron’s 
screaming laughter during comedies at the movie theatre, priorities of 
organization and simplicity in life, singing in the mornings, sense of 
responsibility, hunger for personal development, and his ability to make her 
feel like the most beautiful, important woman on the planet all of the time.</p>

<p>Cameron would grow to love Crystal too. The way she would refuse to eat a meal if there was even
one thing wrong with it at a restaurant. The way she was always trying to negotiate a deal. And the way
she would always go after exactly what she wanted, all the time.</p>

<h2>Crazy Circumstances</h2>

<p>Life brought them crazyness all at once: a (psycho) puppy, and the loss of 
Christopher Skinner, one of Crystal’s best friends. Being that these are huge shifts 
in one’s life, together Cameron and Crystal grew and evolved in their communication, 
commitment, relationship and love. They began to realize that they were learning how 
to make it in life together, and could support one other to face anything by each 
other’s side.</p>

<p>On Christmas day, Cameron asked Dan for his permission to ask his daughter to marry him. 
December 30th, 2009, they were enjoying a quiet evening at home when Cameron proposed...</p>

<p>They look forward to building a beautiful home, raising eccentric children, exciting 
career development, another (psycho) Hungarian Viszla, and growing old together.</p>

<div class="lead-image center" style="max-width:655px;max-height:1000px">
  <img src="/images/the_love_story_2.jpg">
</div>

