<p>We would like to inform our guests that the wedding party will share an intimate dinner before the ceremony and reception. Although there will be splendid passed Hors d'oeuvres throughout the evening, we recommend that you, as well, enjoy dinner with your party before arrival to the wedding.</p>

<p>Alcholic beverages will cost a toonie, so it is also recommended to have some cash in your clutch.</p>

<div class="lead-image center" style="max-width:665px; max-height:1000px">
  <img src="/images/the_party.jpg">
</div>
