<p>If you're spending the night anyways, why not make the most of what our city has to offer. Here are some ideas:</p>

<div class="lead-image center" style="max-width:800px;max-height:600px;">
  <img src="/images/what_to_do_on_saturday.jpg">
</div>

<h2>Cameron & Crystal’s Favourite</h2>

<p><a href="http://ebw.evergreen.ca/whats-on/farmers-market/">Evergreen Brickworks Farmers Market</a></p>

<h2>Elsewhere</h2>

<ul>
  <li><a href="http://stlawrencemarket.com">St. Lawrence Market</a></li>
  <li><a href="http://www.readings.org/?q=weekly/international_festival_of_authors_ifo">International Festival of Authors</a></li>
  <li><a href="http://www.bloor-yorkville.com/beautylicious/">Beautylicious</a></li>
</ul>
