<p>It’s important to fuel up & enjoy a yummy dinner before arriving to the Berkeley Church at 7pm...there are some grand expectations of your presence on the dance floor.</p>

<div class="lead-image center" style="max-width:615px;max-height:614px">
  <img src="/images/where_to_eat_on_friday.jpg">
</div>


<h2>Our Favourites</h2>

<ul>
  <li><a href="http://www.thedrakehotel.ca/dining">The Drake Hotel</a></li>
  <li><a href="http://www.dine.to/jodhporeclub">Jodhpore Club</a></li>
  <li><a href="http://www.susur.com/lee/index.html">Lee</a></li>
  <li><a href="http://www.leselect.com">Le Select Bistro</a></li>
  <li><a href="http://southernaccent.com">Southern Accent</a></li>
  <li><a href="http://www.vaticano.ca">Vaticano</a></li>
</ul>


<h2>Near the Church</h2>

<ul>
  <li><a href="http://www.oliverbonacini.com/Canoe.aspx">Canoe</a></li>
  <li><a href="http://colbornelane.com/">Colborne Lane</a></li>
  <li><a href="http://www.georgeonqueen.com/">George</a></li>
  <li><a href="http://www.joybistrobar.com">Joy Bistro</a></li>
  <li><a href="http://www.mercatto.ca/">Mercatto</a></li>
  <li><a href="http://www.starfishoysterbed.com/">Starfish</a></li>
  <li><a href="http://www.terroni.com/">Terroni</a></li>
  <li><a href="http://www.tomjonessteakhouse.com/">Tom Jones’ Steakhouse</a></li>
</ul>
